<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartrestock.mapper.InventorySummaryMapper">

    <select id="selectAlertList" resultType="com.smartrestock.entity.InventorySummary">
        SELECT * FROM t_inventory_summary
        WHERE alert_status &gt; 0
        <if test="storeCode != null and storeCode != ''">
            AND store_code = #{storeCode}
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND category_code = #{categoryCode}
        </if>
        ORDER BY alert_status DESC, current_quantity ASC
    </select>

</mapper>
